{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Awesome to do App

{% endblock %}


{% block content %}

    <article>

        <ul>
            {% for task in tasks %}

            <li class="tasks">

            {{ task.priority }}

            {{ task.name }}

            {% if task.complete %}
                <a href="/incomplete/{{ task.id }}">🗹</a>
                <a href="/delete/{{ task.id }}"></a>
            {% else %}
                <a href="/complete/{{ task.id }}">☐</a>
            {% endif %}
            </li>

        {% else %}

            <p>None!</p>

        {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="name of task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="10"
                placeholder="priority of task"
                required
            >

            <button>Add the Thing</button>
                <a role="button" href="/delete/<int:id>">Delete</a>
             </form>


        </form>
            <a role="button" href="/">Back to List</a>

    </article>

{% endblock %}